"*":
  "atom-beautify":
    _analyticsUserId: "d204febf-1a64-4d12-a2b1-4822a9190f70"
    css_newline_between_rules: true
    css_preserve_newlines: true
    css_selector_separator_newline: true
    html_end_with_newline: true
    js_end_with_newline: true
    language_css_beautify_on_save: true
    language_go_disabled: true
    language_html_beautify_on_save: true
    language_js_beautify_on_save: true
    language_json_beautify_on_save: true
    language_ruby_beautify_on_save: true
  "autocomplete-plus": {}
  autosave:
    enabled: true
  core:
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    backUpBeforeSaving: true
    fontFamily: "Inconsolata"
    fontSize: 18
    invisibles: {}
  emmet: {}
  "exception-reporting":
    userId: "9ea00bc3-8b6e-0080-5d5c-45abcb2994c8"
  "go-plus": {}
  "gometalinter-linter": {}
  "highlight-selected":
    highlightBackground: true
  "linter-jshint": {}
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "tester-go":
    coverageHighlightMode: "disabled"
    runTestsOnSave: false
  "vim-mode":
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
  whitespace: {}
