packages: [
  "atom-beautify"
  "atom-bootstrap3"
  "autocomplete-go"
  "builder-go"
  "color-picker"
  "dash"
  "emmet"
  "environment"
  "go-config"
  "go-debug"
  "go-get"
  "go-plus"
  "godoc"
  "gofmt"
  "gometalinter-linter"
  "gorename"
  "highlight-selected"
  "language-docker"
  "last-cursor-position"
  "linter"
  "linter-jshint"
  "monokai"
  "navigator-go"
  "navigator-godef"
  "package-sync"
  "tester-go"
  "vim-mode"
]
