packages: [
  "atom-beautify"
  "atom-bootstrap3"
  "color-picker"
  "emmet"
  "go-plus"
  "highlight-selected"
  "language-docker"
  "last-cursor-position"
  "linter-jshint"
  "monokai"
  "package-sync"
  "save-session"
  "vim-mode"
]
